altgraph==0.17.4
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
packaging==24.2
pefile==2023.2.7
pyaes==1.6.1
pyasn1==0.6.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
requests==2.32.3
rsa==4.9
setuptools==75.8.0
Telethon==1.38.1
urllib3==2.3.0
